 html {
      font-size: 62.5%;
      box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }

    .calculator {
      border: 1px solid #fff;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      height: 65%;
    }

    .calculator-screen {
      width: 100%;
      height: 120px;
      border: none;
      background-color: #252525;
      color: #fff;
      text-align: right;
      padding-right: 20px;
      padding-left: 10px;
      font-size: 4rem;
    }

    button {
      height: 85px;
      font-size: 2rem!important;
    }

    .equal-sign {
      height: 98%;
      padding-top: auto;
      grid-area: 1 / 5 / 6 / 6;
    }

/*    .percent-sign {
      height: 50%;
      grid-area: 2 / 4 / 6 / 5;
    }

*/    .calculator-keys {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
      padding: 20px;
      height: 100%;
    }



@media (max-width: 768px) {

  .calculator {
    border: 1px solid #fff;
    border-radius: 10px;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }

  .calculator-screen {
    width: 100%;
    height: 120px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
  }

  }
    @media (min-width: 992px) {
    }